*{
	margin:0;
	padding:0;

}
html,body,.shouye,.jingdian,.eat{
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:14px;
}
li{
	list-style:none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
}
a,button,input,optgroup,select,textarea{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a{
	text-decoration:none;
}
@mixin pos($pos:relative){
	position:$pos;
}
/*********shouye************/
.shouye{
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.banner{
	width:100%;
	height:auto;
	@include pos;
	z-index:15;
}
.item{
	@include pos;
	a{
		@include pos(absolute);
		top:0.3rem;
		right:0.3rem;
		display:block;
		width:0.6rem;
		height:0.5rem;
	}
	img{
		width:100%;
		height:auto;
	}
}
.se{
	width:100%;
	height:auto;
	-webkit-box-flex:1;
	background:#EFF3F7;
	@include pos;
	z-index:10;
	overflow:hidden;
	overflow-y:auto;
	section{
		@include pos(absolute);
		-webkit-transform:translate3d(100%,0,0);
	}
}

#main{
	-webkit-transform:translate3d(0,0,0);
}
#m1{
	-webkit-transform:translate3d(0,0,0);
}
.se_top{
	clear:both;
	overflow:hidden;
}
.se_center{
	clear:both;
	overflow:hidden;
}
.se_bottom{
	clear:both;
	overflow:hidden;
}
.se_left{
	width:50%;
	height:auto;
	float:left;
	ul{
		width:100%;
		li{
			float:left;
			width:50%;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:5px;
			}
		}
	}
}
.se_right{
	width:50%;
	height:auto;
	padding:5px;
	float:right;
	ul{
		width:100%;
		img{
			width:100%;
		}
	}
}
.se_left1{
	width:50%;
	height:auto;
	float:left;
	ul{
		width:100%;
		li{
			float:left;
			width:100%;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:5px;
			}
		}
	}
}
.se_right1{
	width:50%;
	height:auto;
	float:right;
	ul{
		width:100%;
		li{
			float:left;
			width:50%;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:-5px;
			}
		}
	}
}
.se_left2{
	width:50%;
	height:auto;
	float:left;
	ul{
		width:100%;
		li{
			float:left;
			width:50%;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:5px;
			}
		}
	}
}
.se_right2{
	width:50%;
	height:auto;
	float:right;
	ul{
		width:100%;
		li{
			float:left;
			width:100%;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:5px;
			}
		}
	}
}
.se_bottom{
	width:100%;
	height:auto;
	ul{
		width:100%;
		li{
			width:25%;
			float:left;
			img{
				width:100%;
				padding-left:5px;
				padding-right:5px;
				padding-top:5px;
			}
		}
	}
}
/**********gonggongyangshi*************/
.footer{
	width:100%;
	//height:0.62rem;
	@include pos;
	z-index:20;
	background:#fff;
	ul{
		width:100%;
		li{
			width:25%;
			float:left;
			text-align:center;
			img{
				width:0.3rem;
				height:0.3rem;
				padding-top:0.05rem;
			}
			small{
				font-size:0.1rem;
			}
		}
	}
}
/************jingdian************/
.jingdian{
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.header{
	width:100%;
	height:0.76rem;
	background-image:-webkit-gradient(linear,left 0,right 0,color-stop(0%,#08B27B),color-stop(60%,#00AE8C),color-stop(100%,#00A69C));
	@include pos;
	z-index:30;
	h1{
       @include pos(absolute);
       left:0.7rem;
       right:0.7rem;
       text-align:center;
       line-height:0.76rem;
       font-size:0.34rem;
       color:#fff;
	}
}
.left1{
	float:left;
	width:0.7rem;
	height:0.76rem;
	background:url(../img/back.png) no-repeat 0.15rem;
	background-size:0.39rem 0.39rem;
	text-align:center;
}
.right1{
	float:right;
	width:0.7rem;
	height:0.76rem;
	background:url(../img/search.png) no-repeat 0.15rem;
	background-size:0.39rem 0.40rem;
	text-align:center;
}
.nav{
	width:100%;
	border-bottom:1px solid #ccc;
	@include pos;
	background:#fff;
	z-index:50;
	ul{
		width:100%;
		height:auto;
		padding:0.08rem;
		padding-bottom:0;
		display:-webkit-box;
		li{
			-webkit-box-flex:1;
			text-align:center;
			line-height:0.47rem;
			a{
				color:#848284;
				font-size:0.18rem;
			}
		}
		li.on{
			border-bottom:3px solid #008A7B;
			a{
				color:#31BE94;
			}	
		}
	}
}
.pic{
	width:96%;
	height:auto;
	margin-left:2%;
	padding:0.08rem;
	background:#fff;
	margin-top:0.2rem;
	@include pos;
	z-index:5;
	-webkit-box-shadow:1px 4px 5px #DEDBDE; 
	h2{
		line-height:0.47rem;
		font-size:0.2rem;
		padding-left:0.29rem;
	}
	img{
		width:100%;
		padding-bottom:0.6rem;
	}
}
/***********eat***********/
.eat{
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.m1{
	width:100%;
	dl{
		width:100%;
		clear:both;
		height:2rem;
		border-bottom:2px solid #BDBEBD;
		dt{
			width:30%;
			float:left;
			margin-right:0.2rem;
			img{
				width:100%;
				clear:both;
				height:auto;
				margin:0.2rem;
			}
		}
		dd{
			width:60%;
			margin:0.2rem;
			float:left;
			p{
				line-height:0.40rem;
			}
		}
	}
}
.sell{
	font-size:0.2rem;
}
.tel{
	height:20px;
	&:before{
		content:"";
		background:url(../img/tel.png) no-repeat;
		background-size:100% 100%;
		width:0.28rem;
		height:0.28rem;
		line-height:20px;
		left:39%;
		float:left;
		display:block;
		margin-right:0.1rem;
	}
}
.area{
	height:20px;
	clear:both;
	&:before{
		content:"";
		background:url(../img/area.png) no-repeat;
		background-size:100% 100%;
		width:0.3rem;
		height:0.3rem;
		left:39%;
		float:left;
		display:block;
		margin-right:0.05rem;
	}
}
/***********************************/
html,body,.hot_xiangqing{
	width:100%;
	height:100%;
	overflow:hidden;
}
.right2{
	float:left;
	width:0.7rem;
	height:0.76rem;
	background:url(../img/star.png) no-repeat 0.15rem;
	background-size:0.39rem 0.40rem;
	text-align:center;
	margin-left:4.3rem;
}
.right3{
	float:right;
	width:0.7rem;
	height:0.76rem;
	background:url(../img/sea.png) no-repeat 0.15rem;
	background-size:0.39rem 0.40rem;
	text-align:center;
}
.det{
	width:100%;
	height:auto;
	clear:both;
	padding:0.15rem;
	h1{
		font-size:0.23rem;
	}
	small{
		padding-top:0.2rem;
		display:inline-block;
		font-size:0.17rem;
		float:left;
	}
	span{
		width:0.64rem;
		height:0.3rem;
		background:#C65552;
		color:#fff;
		display:inline-block;
		text-align:center;
		float:left;
		margin-top:0.2rem;
		margin-left:0.15rem;
		line-height:0.3rem;
	}
	p{
		clear:both;
		padding-top:0.25rem;
		line-height:0.32rem;
		color:#000;
	}
}
.hot_xiangqing{
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.del{
	-webkit-box-flex:1;
	width:100%;
}
.footer1{
	width:100%;
	height:0.71rem;
	form{
		width:100%;
		border-top:1px solid #CECBCE;
		input{
			width:75%;
			height:0.65rem;
			border-radius:0.1rem;
			margin-left:0.1rem;
		}
		label{
			width:25%;
			padding-left:5%;
		}
	}
}
.det_7{
	width:100%;
	height:auto;
	margin-top:0.15rem;
}
.find{
	padding-right:0.1rem;
}
